# MESTRADO - DOUGLAS DE ANDRADE DE ALMEIDA

## TÍTULO: ALGORITMO DE PREDIÇÃO DE DESENVOLVIMENTO DE RESISTÊNCIA DO VÍRUS DA HEPATITE C (HCV) AOS ANTIVIRAIS DE AÇÃO DIRETA

## FEVEREIRO/2018

#### Adding paths

In [1]:
import sys
sys.path.append('../')
sys.path.append('../Scripts/')

### Libraries

In [2]:
import collections
import json
from Global_Variables import *
import Aux_Functions as af
import numpy as np
import pandas as pd

In [3]:
genotype = "1b"

### Open fasta file & Acession Number e Sequence

In [4]:
Datasets_Reference = [("NS5A_1b_06.03.2018.aln","1b"),
                     ("NS5A_GEN1a_02.05.16","1a"),
                     ("NS5A_GEN3_05.05.16","3")]

In [5]:
genotype_1b = af.fasta_to_dict("../Data/" + "NS5A_1b_06.03.2018.aln")
genotype_1b_codons = {}
for sequence in genotype_1b.items():
    genotype_1b_codons[sequence[0]] = af.sequence_codons(sequence[1])

#### Contar as frequências

In [6]:
df = pd.DataFrame(data=genotype_1b_codons)
df = df.transpose()
df_frequency = df.apply(pd.value_counts)
df_frequency = df_frequency.apply(lambda x: x/len(df))

In [7]:
df_frequency

,28,29,30,31,32,54,92,93
AAA,NaN,NaN,0.002427,NaN,NaN,NaN,NaN,NaN
AAC,NaN,NaN,NaN,NaN,NaN,0.008495,NaN,NaN
AAG,NaN,NaN,0.001214,NaN,NaN,NaN,NaN,NaN
AAT,NaN,NaN,NaN,NaN,NaN,0.038835,NaN,NaN
ACA,NaN,NaN,NaN,NaN,NaN,NaN,0.004854,NaN
ACG,NaN,NaN,NaN,NaN,NaN,NaN,0.008495,NaN
AGG,NaN,NaN,0.004854,NaN,NaN,NaN,NaN,NaN
ATA,NaN,NaN,NaN,0.002427,NaN,NaN,NaN,NaN
ATG,0.016990,NaN,0.001214,0.033981,NaN,NaN,NaN,NaN
CAA,NaN,NaN,0.003641,NaN,NaN,0.410194,NaN,NaN
CAC,NaN,NaN,NaN,NaN,NaN,0.156553,NaN,0.037621
CAG,NaN,NaN,0.037621,NaN,NaN,0.252427,NaN,NaN
CAR,NaN,NaN,NaN,NaN,NaN,0.002427,NaN,NaN
CAT,NaN,NaN,NaN,NaN,NaN,0.108010,NaN,NaN
CCA,NaN,0.167476,NaN,0.001214,0.094660,NaN,NaN,NaN
CCC,NaN,0.004854,NaN,NaN,0.013350,NaN,NaN,NaN
CCG,0.001214,0.822816,NaN,NaN,0.888350,NaN,NaN,NaN
CCT,NaN,0.003641,NaN,NaN,0.003641,NaN,NaN,NaN
CGA,NaN,NaN,0.131068,NaN,NaN,NaN,NaN,NaN
CGC,NaN,NaN,0.004854,NaN,NaN,NaN,NaN,NaN
CGG,NaN,NaN,0.810680,NaN,NaN,NaN,NaN,NaN
CGT,NaN,NaN,0.002427,NaN,NaN,NaN,NaN,NaN
CTA,0.018204,NaN,NaN,0.086165,NaN,0.003641,NaN,NaN
CTC,0.007282,NaN,NaN,0.001214,NaN,0.001214,NaN,NaN
CTG,0.927184,NaN,NaN,0.110437,NaN,NaN,NaN,NaN
CTT,0.002427,NaN,NaN,0.003641,NaN,NaN,NaN,NaN
GAA,NaN,NaN,NaN,NaN,NaN,0.001214,NaN,NaN
GCA,NaN,NaN,NaN,NaN,NaN,NaN,0.570388,NaN
GCC,NaN,NaN,NaN,NaN,NaN,NaN,0.003641,NaN
GCG,NaN,NaN,NaN,NaN,NaN,NaN,0.393204,NaN
GCT,NaN,NaN,NaN,NaN,NaN,NaN,0.010922,NaN
GGA,NaN,NaN,NaN,NaN,NaN,NaN,0.002427,NaN
GTA,NaN,NaN,NaN,NaN,NaN,NaN,0.001214,NaN
GTG,0.003641,NaN,NaN,NaN,NaN,NaN,0.003641,NaN
TAC,NaN,NaN,NaN,NaN,NaN,0.006068,NaN,0.945388
TAT,NaN,NaN,NaN,NaN,NaN,0.009709,NaN,0.015777
TCA,NaN,0.001214,NaN,NaN,NaN,NaN,0.001214,NaN
TGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001214
TTA,NaN,NaN,NaN,0.445388,NaN,0.001214,NaN,NaN
TTG,0.023058,NaN,NaN,0.315534,NaN,NaN,NaN,NaN

#### Tabela

In [8]:
df_codons = pd.DataFrame(columns=["Genotype", "Position", "Codon", "Frequency"])

In [9]:
for position in df_frequency.columns:
    for codon in df_frequency.index:
        new_row = [genotype, position, codon, df_frequency.at[codon,position]]
        new_series = pd.Series(new_row, index = df_codons.columns)
        df_codons = df_codons.append(new_series, ignore_index=True)

In [10]:
df_codons

    Genotype Position Codon  Frequency
0         1b       28   AAA        NaN
1         1b       28   AAC        NaN
2         1b       28   AAG        NaN
3         1b       28   AAT        NaN
4         1b       28   ACA        NaN
..       ...      ...   ...        ...
315       1b       93   TAT   0.015777
316       1b       93   TCA        NaN
317       1b       93   TGC   0.001214
318       1b       93   TTA        NaN
319       1b       93   TTG        NaN

[320 rows x 4 columns]

In [11]:
df_codons = df_codons.fillna(0)

In [12]:
df_codons

    Genotype  Position Codon  Frequency
0         1b        28   AAA   0.000000
1         1b        28   AAC   0.000000
2         1b        28   AAG   0.000000
3         1b        28   AAT   0.000000
4         1b        28   ACA   0.000000
..       ...       ...   ...        ...
315       1b        93   TAT   0.015777
316       1b        93   TCA   0.000000
317       1b        93   TGC   0.001214
318       1b        93   TTA   0.000000
319       1b        93   TTG   0.000000

[320 rows x 4 columns]

In [15]:
df_codon_usage = pd.read_csv("../Data/Codon_Usage_G1.csv", sep=";")

In [16]:
df_codon_usage

   Codon  HCV-G1
0    GCG    0.23
1    GCA    0.17
2    GCT    0.20
3    GCC    0.40
4    TGT    0.31
..   ...     ...
59   TAT    0.30
60   TAC    0.70
61   TGA    1.00
62   TAG    0.00
63   TAA    0.00

[64 rows x 2 columns]

Join entre df_codon e df_codon_usage utilizando como chave a coluna "Codon"

In [18]:
df_join = pd.merge(df_codons, df_codon_usage, on=['Codon'])

In [20]:
df_join.head(100)

   Genotype  Position Codon  Frequency  HCV-G1
0        1b        28   AAA   0.000000    0.32
1        1b        29   AAA   0.000000    0.32
2        1b        30   AAA   0.002427    0.32
3        1b        31   AAA   0.000000    0.32
4        1b        32   AAA   0.000000    0.32
..      ...       ...   ...        ...     ...
95       1b        93   CAG   0.000000    0.59
96       1b        28   CAT   0.000000    0.43
97       1b        29   CAT   0.000000    0.43
98       1b        30   CAT   0.000000    0.43
99       1b        31   CAT   0.000000    0.43

[100 rows x 5 columns]

In [22]:
df_join.to_csv("../Outputs/Tabela.csv", sep=";")